@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-Bold.eot');
    src: url('../fonts/Sora-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sora-Bold.woff2') format('woff2'),
        url('../fonts/Sora-Bold.woff') format('woff'),
        url('../fonts/Sora-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-ExtraBold.eot');
    src: url('../fonts/Sora-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sora-ExtraBold.woff2') format('woff2'),
        url('../fonts/Sora-ExtraBold.woff') format('woff'),
        url('../fonts/Sora-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-ExtraLight.eot');
    src: url('../fonts/Sora-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sora-ExtraLight.woff2') format('woff2'),
        url('../fonts/Sora-ExtraLight.woff') format('woff'),
        url('../fonts/Sora-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-Medium.eot');
    src: url('../fonts/Sora-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sora-Medium.woff2') format('woff2'),
        url('../fonts/Sora-Medium.woff') format('woff'),
        url('../fonts/Sora-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-Light.eot');
    src: url('../fonts/Sora-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sora-Light.woff2') format('woff2'),
        url('../fonts/Sora-Light.woff') format('woff'),
        url('../fonts/Sora-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-Regular.eot');
    src: url('../fonts/Sora-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sora-Regular.woff2') format('woff2'),
        url('../fonts/Sora-Regular.woff') format('woff'),
        url('../fonts/Sora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-SemiBold.eot');
    src: url('../fonts/Sora-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sora-SemiBold.woff2') format('woff2'),
        url('../fonts/Sora-SemiBold.woff') format('woff'),
        url('../fonts/Sora-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-Thin.eot');
    src: url('../fonts/Sora-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sora-Thin.woff2') format('woff2'),
        url('../fonts/Sora-Thin.woff') format('woff'),
        url('../fonts/Sora-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}