*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: #6E6E7F;
    --lt-black: #2C2C2C;
    --white: #ffffff;
    --black: #000000;
    --orange: #FF7B38;
    --tan: #D1AC70;
    --brown: #630E1C;
    --olive: #0A2A31;
    --lt-tan: #F7F0DF;
    --lt-tan2: #A08F65;
    --ltYellow: #FFFCF1;
    --br-gray: #AAAAAA;
    --br-pink: #F9CFBB;
    --br-gray2: #CED8D7;
    --br-gray3: #E5E3E6;
    --bck-gray: #CCCCCC;
    --bg-linear1: #007BFF;
    --ltbr-blue: #E5F5FF;
    --anc-blue: #4387D6;
    --bg-graycard: #EFEFEF;
    --sky_blue: #EFF1F2;
}

html {
    width: 100%;
}

body {
    color: var(--gray);
    font-family: 'Sora';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.44;
    overflow-x: hidden;
}

a {
    color: var(--anc-blue);
    text-decoration: none;
}

h1 {
    font-size: 64px;
    line-height: 1.2;
    color: var(--black);
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    line-height: 1.2;
    color: var(--black);
}

h5 {
    color: var(--gray);
    line-height: normal;
    margin-bottom: 0;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    padding: 25px 28px;
    border-radius: 20px;
    border: 1px solid var(--lt-black);
    color: var(--lt-black);
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.44;
    transition: 0.3s all;
}

.btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.btn>img {
    margin-right: 8px;
}

.btn:hover>img {
    filter: brightness(100);
}

.py-100 {
    padding: 100px 0;
}

.pt-100 {
    padding-top: 100px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-35{
    margin-bottom: 35px;
}
/*** HomePage ***/
.homepage {
    margin-top: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:not(:last-child) {
    margin-right: 20px;
}

nav ul li a {
    color: var(--gray);
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.name_link{
    color: var(--gray);
    line-height: normal;
    margin-bottom: 0;
    font-weight: 500;
}

.basic_info {
    max-width: 1046px;
    margin-bottom: 100px;
}

.basic_info>h5 {
    font-weight: 300;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.steam_animation svg path:nth-of-type(3) {
    animation-delay: -0.7s;
}

.steam_animation svg .steam {
    animation: 2s linear 0s infinite normal none running steam_animation;
    opacity: 0;
}

.steam_animation svg .steam {
    animation: 2s linear 0s infinite normal none running steam_animation;
    opacity: 0;
}

.steam_animation svg path:nth-of-type(5) {
    animation-delay: -1.3s;
}

.steam_animation svg .steam {
    animation: 2s linear 0s infinite normal none running steam_animation;
    opacity: 0;
}

/* cofee animation */
@keyframes steam_animation {
    0% {
        transform: translateY(0px) scaleY(1);
        opacity: 0;
    }

    25% {
        transform: translateY(-1px) scaleY(1);
    }

    50% {
        transform: translateY(-4px) scaleY(2);
        opacity: 1;
    }

    100% {
        transform: translateY(-6px) scaleY(2);
        opacity: 0.1;
    }
}

.basic_info>h5>svg {
    margin-left: 8px;
}

.basic_info>h2 {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 40px;
}

.basic_info>h2>span {
    color: var(--black);
}

.btn-flex {
    display: flex;
    align-items: center;
}

.btn-flex>button {
    margin-right: 30px;
}

.btn-flex>a {
    transition: 0.3s all;
}

.basic_info>.btn-flex>a.social_lks {
    width: 70px;
    height: 70px;
    padding: 23px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic_info>.btn-flex>a.social_lks:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.basic_info>.btn-flex>a.social_lks>img {
    transition: 0.3s all;
}

.basic_info>.btn-flex>a.social_lks:hover>img {
    filter: invert(1);
}

.basic_info>.btn-flex>a:not(:last-child) {
    margin-right: 10px;
}

.my_work {
    border-bottom: 2px solid var(--br-gray3);
}

.basic_info>.btn-flex>a.btn_res {
    margin-right: 30px;
}

.my_work>h3 {
    color: var(--lt-black);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.285;
    margin-bottom: 80px;
}

.row.my_work_row {
    padding-bottom: 80px;
}

.row.my_work_row>div:first-child {
    padding-left: 0;
    position: relative;
    padding-top: 40px;
}

.row.my_work_row>div:first-child::before {
    content: '';
    width: calc(100% - 12px);
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.my_work_row .img_wrap {
    height: 100%;
}

.my_work_row .img_wrap>img {
    height: 100%;
    object-fit: cover;
}

.my_work>div>.row.my_work_row:first-child>div:first-child::before {
    background-color: #FEF7DD;
}

.my_work>div>.row.my_work_row:nth-child(2)>div:first-child::before {
    background-color: #F3F2F0;
}

.my_work>div>.row.my_work_row:nth-child(3)>div:first-child::before {
    background-color: #E5F5FF;
}
.my_work>div>.row.my_work_row:nth-child(4)>div:first-child::before {
    background-color: #F9CFBB;
}
.my_work>div>.row.my_work_row:nth-child(5)>div:first-child::before {
    background-color: #A7B9B7;
}

.row.my_work_row>div:last-child {
    padding-right: 0;
}

.my_work_row>div>h6 {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 15px;
}

.my_work_row>div>img {
    width: 100%;
    height: auto;
}

.my_work_row>div>h2 {
    color: var(--lt-black);
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 25px;
}

.my_work_row>div>p {
    color: var(--gray);
    font-weight: 300;
    line-height: 1.44;
    margin-bottom: 40px;
}

.img_wrap {
    border-radius: 10px;
}

.img_wrap>img {
    width: 100%;
    height: auto;
}

footer {
    max-width: 560px;
    padding: 80px 0;
}

footer>p {
    font-weight: 300;
    line-height: 1.77;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer>p:first-child>span {
    width: 6px;
    height: 6px;
    background-color: var(--lt-black);
    border-radius: 50%;
    margin: 0 16px;
}

footer>p>svg {
    margin-left: 8px;
}

footer>p:nth-child(3)>a {
    margin-left: 5px;
}

footer>ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer>ul>li:not(:last-child) {
    margin-right: 15px;
}

footer>ul>li>a {
    color: var(--anc-blue);
}

/*** Contents, Developers.dev, SunMinimeal, kryston catering ***/
.wrapper.contents {
    padding-top: 120px;
}

.main_head {
    margin-bottom: 90px;
}

.main_head h1 {
    margin-bottom: 20px;
}

.main_head p {
    line-height: 1.5;
    color: #000000;
}


.contents_banner_img {
    background: url('../images/Contents_bg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 200px;
    height: 580px;
    display: block;
    margin-top: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents_banner_img>img {
    margin-top: -140px;
    max-width: 990px;
}

.scp_wrap {
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
    border-bottom: 1px solid var(--br-gray);
}

.scp_w30 {
    width: 30%;
}

.scp_w70 {
    width: 70%;
}

.scp_wrap h5 {
    color: var(--black);
}

.scp_w30>h5 {
    font-weight: 500;
    line-height: 1.5;
}

.scp_w70>h5 {
    font-weight: 300;
    line-height: 1.5;
}

.content_details {
    background: url('../images/contents_detail_bg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.content_head h2 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--black);
}

.content_head p {
    font-size: 20px;
    line-height: 1.4;
    color: var(--black);
    margin-bottom: 0;
}

.content_head>.center_wrap {
    margin-top: 50px;
}

.white_card {
    padding: 24px 30px;
    background-color: var(--white);
    margin-bottom: 16px;
}

.white_card>h3 {
    margin-bottom: 16px;
}

.white_card>p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    color: var(--black);
}

.gray_card {
    padding: 24px 30px;
    background-color: var(--bg-graycard);
    border: 1px solid var(--bck-gray);
    margin-bottom: 16px;
}

.gray_card>h3 {
    margin-bottom: 16px;
}

.gray_card>p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    color: var(--black);
}
.gray_card.bgLearnYellow {
    background-color: #FEF9F0;
    border: 1px solid #FEF9F0;
}
.content_head2 h2 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--black);
}

.content_head2 h2.mb-35{
    margin-bottom: 35px;
}

.content_head2 h3 {
    margin-bottom: 16px;
}

.content_head2 p {
    font-size: 20px;
    line-height: 1.4;
    color: var(--black);
    margin-bottom: 0;
}

.content_design_system {
    background: url('../images/content_design_bg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.img_collection>div:not(:last-child) {
    margin-bottom: 40px;
}

.content_working {
    background: url('../images/working_bg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.content_working h2 {
    font-size: 48px;
    line-height: 1.2;
    color: var(--black);
    margin-bottom: 20px;
}

.content_working p {
    font-size: 20px;
    line-height: 1.4;
    color: var(--black);
}

.content_head>div>img {
    max-width: 1140px;
}

.content_head>div>img.mx_1010 {
    max-width: 1010px;
}

.role_head {
    margin-bottom: 40px;
}

.role_head h2 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--black);
}

.role_head p {
    font-size: 20px;
    line-height: 1.2;
    color: var(--black);
    margin-bottom: 0;
}

.activities h2 {
    color: var(--black);
    margin-bottom: 20px;
}

.activities ul li {
    font-size: 20px;
    line-height: 1.4;
    color: var(--black);
    list-style-type: disc;
    list-style-position: inside;
}

.bck_home {
    padding-top: 75px;
    font-size: 24px;
    line-height: 1.2;
    color: var(--black);
    display: inline-block;
}

.blk_bg {
    background-color: var(--black);
}

.blk_bg .content_head h2,
.blk_bg .content_head p,
.blk_bg .content_head2 h2,
.blk_bg .content_head2 h3,
.blk_bg .content_head2 p {
    color: var(--white);
}

.blk_bg .concuss h2 {
    color: var(--white);
    margin-bottom: 20px;
}

.blk_bg .concuss p {
    color: var(--white);
    margin-bottom: 0;
}

.main_head h1 span.dev_span {
    color: var(--orange);
}

.sun_span {
    color: var(--tan);
}

.blt_tan {
    background-color: var(--lt-tan);
}

.bnr_img {
    display: block;
}

.bnr_img>img {
    width: 100%;
    height: auto;
}

.main_head h1 span.kry_span {
    color: var(--brown);
}

.brown_bg {
    background-color:  var(--brown);
}

.brown_bg .content_head h2,
.brown_bg .content_head p,
.brown_bg .content_head2 h2,
.brown_bg .content_head2 h3,
.brown_bg .content_head2 p {
    color: var(--white);
}

.brown_bg .concuss h2 {
    color: var(--white);
    margin-bottom: 20px;
}

.brown_bg .concuss p {
    color: var(--white);
    margin-bottom: 0;
}

.brown_bg ul {
    list-style: auto;
    list-style-position: inside;
}

.brown_bg ul li {
    color: var(--white);
    font-size: 20px;
    font-weight: 200;
    list-style-position: inherit;
}

.brown_bg ul li span, .brown_bg ul li::marker {
    font-weight: 600;
}

.ltYellow_bg {
    background-color: var(--ltYellow);
}

.ltYellow_bg .content_head h2,
.ltYellow_bg .content_head p,
.ltYellow_bg .content_head2 h2,
.ltYellow_bg .content_head2 h3,
.ltYellow_bg .content_head2 p {
    color: var(--black);
}

.ltYellow_bg .concuss h2 {
    color: var(--black);
    margin-bottom: 20px;
}

.ltYellow_bg .concuss p {
    color: var(--black);
    margin-bottom: 0;
}

.customList h2 {
    margin-bottom: 35px;
    color: var(--brown);
}


.analysisListing h2 {
    margin-bottom: 20px;
    color: var(--brown);
    font-size: 24px;
}

.analysisListing .customList:not(:last-child) {
    margin-bottom: 24px;
}

.analysisListing .customList h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.analysisListing .customList ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 24px;
}

.analysisListing .customList ul li {
    color: var(--black);
}
.analysisCompetitors .analysisListing:not(:last-child) {
    margin-bottom: 40px;
}
.olive_bg {
    background-color:  var(--olive);
}

.olive_bg .content_head h2,
.olive_bg .content_head p,
.olive_bg .content_head2 h2,
.olive_bg .content_head2 h3,
.olive_bg .content_head2 p {
    color: var(--white);
}

.olive_bg .concuss h2 {
    color: var(--white);
    margin-bottom: 20px;
}

.olive_bg .concuss p {
    color: var(--white);
    margin-bottom: 0;
}

.olive_bg ul {
    list-style: auto;
    list-style-position: inside;
}

.olive_bg ul li {
    color: var(--white);
    font-size: 20px;
    font-weight: 200;
    list-style-position: inherit;
}

.olive_bg ul li span, .brown_bg ul li::marker {
    font-weight: 600;
}
.learn_span {
    color: var(--lt-tan2)
}
.content_head.userRearch h3 {
    font-size: 32px;
    color: var(--white);
    margin-top: 50px;
}
.grayInrCard span{
    font-weight: 600;
}
.grayInrCard p {
    color: var(--black);
}
.grayInrCard p:not(:last-child) {
    margin-bottom: 16px;
}
.targetAudienceUl li span {
    font-weight: 600;
}
/* About Us */
.about_me {
    padding: 100px 0;
    position: relative;
}

.about_desc_img {
    width: max-content;
    position: absolute;
    bottom: 102px;
}
.about_desc_img img {
    max-width: 367px;
    width: 100%;
    border-radius: 20px;
}
.my_value {
    padding: 0 0 80px 0;
    border-bottom: 2px solid var(--br-gray3);
}

.my_value>h3 {
    color: var(--lt-black);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.285;
    margin-bottom: 60px;
}

ul.myvalue_ul li:not(:last-child) {
    margin-bottom: 40px;
}

ul.myvalue_ul li h4 {
    display: inline-flex;
    align-items: center;
    color: var(--lt-black);
    font-size: 20px;
    line-height: 1.8;
}

ul.myvalue_ul li p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
}

.myvalue_ul li h4 img {
    margin-right: 16px;
}

.aboutme_desc {
    background-color: var(--sky_blue);
    padding: 30px 25px 30px 290px;
    border-radius: 20px;
    max-width: 950px;
    margin-left: auto;
}

.aboutme_desc p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--lt-black);
    margin-bottom: 0;
}

.aboutme_desc>.row>div:not(:last-child) {
    margin-bottom: 20px;
}

.about_desc_img .hi_badge {
    background-color: var(--black);
    font-size: 14px;
    line-height: 1.8;
    color: var(--white);
    padding: 6px 20px;
    border-radius: 0 22px 22px 60px;
    position: relative;
    left: -30px;
    top: -88px;
}

.about_me_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 25px 30px 290px;
    border-radius: 20px;
    max-width: 950px;
    margin-left: auto;
    gap: 15px;
}

.about_me_head>.btn-flex>a.social_lks {
    width: 70px;
    height: 70px;
    padding: 23px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_me_head>.btn-flex>a.social_lks:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.about_me_head>.btn-flex>a.social_lks>img {
    transition: 0.3s all;
}

.about_me_head>.btn-flex>a.social_lks:hover>img {
    filter: invert(1);
}

.about_me_head>.btn-flex>a.social_lks:first-child {
    margin-right: 10px;
}

.about_me_head .btn-flex>.btn_res {
    margin: 0 0 0 30px;
}

.about_me_head h3 {
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 0;
}